body {
    background-color: white;
}

img {
    width: 80%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: .7em;
}

.product-container {
    border: 1px solid lightblue;
    width: 33%;
    box-shadow: 4px 6px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.title {
    border: 1px solid lightblue;
    text-align: center;
}

.info {
    font-weight: bold;
}